body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_page{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.main_page{
  display:flex;
}
.card{
  max-width: 345px;
  width: 100%;
  margin-left: 15px;
}
.buttons{
  display: flex;
  justify-content: space-between;
}
